<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <p>
        @Html.ActionLink("Home", "Index", "Home") &nbsp; &nbsp;
        @Html.ActionLink("Customers", "CustomersList", "Home") &nbsp; &nbsp;
        @Html.ActionLink("About", "About", "Home") &nbsp; &nbsp;
    </p>
    <p>
        Something from layout page!
    </p>

    @RenderBody()
</body>
</html>
